<big>Онлайн радио</big>
<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">О модуле&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>



<hr size="1">

[#if VIEW_MODE="view_stations" || VIEW_MODE=""#]
	[#inc view_stations.html#]
[#endif VIEW_MODE#]
 
[#if VIEW_MODE="import_stations"#]
	[#inc import_stations.html#]
[#endif VIEW_MODE#]
 
[#if VIEW_MODE="edit_stations"#]
	[#inc edit_stations.html#]
[#endif VIEW_MODE#]
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Онлайн радио ver. [#VER#]</h4>
			</div>
			<div class="modal-body">
				<p> Модуль для проигрывания онлайн-радио.<br>
				Обсуждение модуля <a href="http://smartliving.ru/forum/viewtopic.php?f=5&t=1402" target="_blank">здесь</a>.<br>
				<hr size="1">
				Поддержать автора материально:
				<ul>
					<li>Yandex: 410011477255886</li>
					<li>WebMoney: R426095916500</li>
					<li>PayPal: 4fedorov@gmail.com</li>
					<li>Qiwi: +79644602116</li>
				</ul>
				</p>
				<p class="float-left"></p>
			</div>
			
			<div class="modal-footer">
				<div class="pull-left">Best regards!<br>@LuckyFIA :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
