<big><#LANG_APP_RADIO_NAME#></big>
<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about"><#LANG_ABOUT#>&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>



<hr size="1">

[#if VIEW_MODE="view_stations" || VIEW_MODE=""#]
	[#inc view_stations.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="import_stations"#]
	[#inc import_stations.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="edit_stations"#]
	[#inc edit_stations.html#]
[#endif VIEW_MODE#]
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"><#LANG_APP_NAME#> ver. [#VER#]</h4>
			</div>
			<div class="modal-body">
				<p> <#LANG_MODULE_PLAYING_ONLINE_RADIO#>.<br>
				<#LANG_MODULE_DISCUSSION#> <a href="http://smartliving.ru/forum/viewtopic.php?f=5&t=1402" target="_blank"><#LANG_HERE#></a>.<br>
				<hr size="1">
				<#LANG_SUPORT_AUTHOR#>:
				<ul>
					<li>Yandex: 410011477255886</li>
					<li>WebMoney: R426095916500</li>
					<li>PayPal: 4fedorov@gmail.com</li>
					<li>Qiwi: +79644602116</li>
				</ul>
				</p>
				<p class="float-left"></p>
			</div>

			<div class="modal-footer">
				<div class="pull-left">Best regards!<br>@LuckyFIA :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
