<form action="?" method="get" class="form-horizontal" name="terminal_change">
<div class="form-group">
	<label for="playTerminal" class="col-sm-4 control-label">Проигрывать на терминале:</label>
	<div class="col-sm-5">
		<select name="select_terminal" id="playTerminal" class="form-control" onchange="document.terminal_change.submit();">
            <option value=0>Выберите</option>
			[#begin LIST_TERMINAL#]
            <option value="[#NAME#]"[#if NAME="<#PLAY_TERMINAL#>"#] selected[#endif#]>[#NAME#]</option>
            [#end LIST_TERMINAL#]
        </select>
	</div>
</div>		
</form>
<p>
<a href="?view_mode=edit_stations" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить станцию</a>
<a href="?view_mode=import_stations" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Импортировать списком</a>
</p>

<!-- table список станций  -->

[#if RESULT#]

<table  align=center class="table table-condensed">
<tbody>

<tr>
 <td height=1 align=center>
   ID 
 </td>
 <td height=10 align=center>
   Название 
 </td>
 <td align=center>
   URL станции
 </td>
 [#if "<#ACTION#>"=="admin"#]
  <td width="1%">
    
  </td> 
  <td width="1%">
    
  </td>
 [#endif ACTION#]
</tr>

[#begin RESULT#]
<tr>
 <td height=1 align=center>
   [#ID#] 
 </td>
 <td height=10 align=center>
   [#name#] 
 </td>
 <td align=center>
   [#stations#]
 </td>
 [#if "<#ACTION#>"=="admin"#]
  <td width="1%">
   <a href="?view_mode=edit_stations&id=[#ID#]"  title="<#LANG_EDIT#>"><span class="glyphicon glyphicon-pencil"></span></a>
  </td> 
  <td width="1%">
   <a href="?view_mode=delete_stations&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')" title="<#LANG_DELETE#>"><span class="glyphicon glyphicon-remove"></span></a>
  </td>
 [#endif ACTION#]
</tr>
[#end RESULT#]

</tbody>
</table>

[#else RESULT#]
<p>
<font color="red">Станций не найдено</font>
</p>
[#endif RESULT#]
<!-- / results -->
</td></tr></table>

<p>
Поддерживаются следующие плееры (Вкладка "Терминалы"):
<br>
VLC, XBMC, Foobar2000, VLC over HTTP, MPD.
<br>
Регулировка громкости реализована для:
<br>
XBMC, VLC over HTTP, MPD.
<br><br>
Вызов модуля в меню:
<br>
<b>&#091#module name="app_radio" mode="menu"#&#093</b>
<br><br>
Использование в сценариях/методах:
<br>
<b>cm('RadioSetting.Control','play');</b> или <b>cm('RadioSetting.Control',array('cmd'=>'play');</b> - проигрывание последней радиостанции.
<br>
<b>cm('RadioSetting.Control','stop');</b> или <b>cm('RadioSetting.Control',array('cmd'=>'stop');</b> - останавливает проигрывание.
<br>
<b>cm('RadioSetting.Control','vol34');</b> или <b>cm('RadioSetting.Control',array('vol'=>34);</b> - устанавливает громкость на 34% (0-100).
<br>
<b>cm('RadioSetting.Control','sta:val');</b> или <b>cm('RadioSetting.Control',array('sta'=>'val');</b> - переключает станцию на <b>val</b>, где <b>val</b> ID или название станции.
<br>
Соответственно:<br>
<b>cm('RadioSetting.Control',array('sta'=>'Зайцев.FM','cmd'=>'play','vol'=>30));</b> 
<br>или
<br>
<b>cm('RadioSetting.Control','sta:Зайцев.FM');</b>
<br>
<b>cm('RadioSetting.Control','play');</b>
<br>
<b>cm('RadioSetting.Control','vol30');</b>
<br>
перключить станцию на "Зайцев.FM"; если радио выключено, то включить; и установить громкость на 30%.
</p>